<% provide(:title, 'Home') %> <!-- everything is referenced in application.html -->  
<!--<form class ="navbar-form navbar-left" role="search">
	<input type ="text" class="form-control" placeholder= "Search">
        <button type ="submit" class="btn btn">Submit</button> 
</form>	-->
<br/><br/><br/><br/>
<!-- if the user is signed in render this page else give him the default page -->
<style>
        #header{
                background: white;
                padding: 15px;
        }
</style> 
<% if signed_in? %>
      <div class="row" id="header">
	<aside class="span4">
	    <section>
		  <%= render 'shared/user_info' %>
	    </section>
	    <section>
		  <%= render 'shared/micropost_form' %>
	    </section>
	</aside>    
      </div>
      
 <% else %>     
<div class = "center hero-unit">
     
	<h1 class="headline_for_h1">Welcome To Forum CSHUB, Lassonde</h1>
	<h2>
		Forum page for CSHUB Members  
		<a href="#"> CSHUB</a>
	</h2>
	
	<%= link_to "Sign up now!", signup_path , :class => "btb btn-large btn-primary" %>
	
	<div class="center hero unit">
		<h3><em>Already a user? Then sign in here</em></h3>
		<%= link_to "Sign in", signin_path , :class=> "btn btn-success" %>
	</div>
	
</div>	
<%= link_to image_tag("ownlogo.png", :alt => "Nerds") , 'http:///home/richie/Ruby/sample_app/app/assets/images' %>
<% end %>
