<% provide(:title, 'All users') %>

<h1 style="color: black ;font-family: 'Trochhi', serif; font-size: 45px;font-weight: normal;line-height: 48px;margin: 0;">All users</h1>
<br/><br/>
<div id="div_for_users">
<%= will_paginate %> <!-- pagination call -->
<ul class="users">
  <% @users.each do |user| %>
  <li>
    <%= gravatar_for user, size: 50 %>
    <%= link_to  user.name,  user , class: "example_user" %>
    <!-- a check a for admin rights -->
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, confirm: "ARE YOU SURE?" %>
    <% end %> 
</li>
  <% end %>
</ul>
<%= will_paginate %>
</div>