
<% provide(:title, @user.name)  %>
<div class ="row">
  <aside class="span4" style="float:left;">
    <section>
       <%= gravatar_for @user %>
      <h1 class="embossed_text">
        <%= @user.name  %> 
    </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3 class="richee_feed"> FEED (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <center class="paginate_for_users">
        <%= will_paginate @microposts %>
      </center>
    <% end %>
  </div>
</div>


<!--<%= @user.name %> , <%= @user.email %> -->