  <header> <!--fixed must be changed -->
        <% link_to "sample app", root_path , :id => "logo" %>
	<div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">
              <li><a href="<%=root_path %>">Home</a></li>
              <li><a href="<%=help_path %>">Help</a></li>
             <li><a  href="<%=about_path %>">About</a></li> 
             <% if signed_in? %>
                <li><%= link_to "Users" , '#' %></li>
                <li><a href="#">
                    Account  <b class="caret"></b>
                  </a>
                  <ul class="sub-menu">
                    <li><a href="<%= user_path(current_user) %>"><%= @current_user.name %></a></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", signout_path, method: "delete"  %></li>
                  </ul>
                </li>
                <% else %>
                  <li><% link_to "Sign in", signin_path %></li>
		<% end %> 
            </ul>
        </nav>
	</div>
  </header>
  <!-- jquery code for nav bar problems -->
  <script>
    $(window).scroll(
    {
        previousTop: 0
    }, 
    function () {
    var currentTop = $(window).scrollTop();
    if (currentTop < this.previousTop) {
        $(".sidebar em").text("Up");
        $(".header").show();
    } else {
        $(".sidebar em").text("Down");
        $(".header").hide();
    }
    this.previousTop = currentTop;
});
  </script>
  <script>
      $('.dropdown-toggle').dropdown();
    </script>
   
