  <header class="navbar navbar-default"> <!--fixed must be changed -->
    
    <div class="navabar-fluid">
      <div class="container-header">
        <% link_to "sample app", root_path , :id => "logo" %>
        <nav>
            <ul class="nav navbar -nav pull-right nav nav-pills">
              <li role="presentation" class="active"><%= link_to "Home",  root_path %></li>
              <li role="presentation" class="active"><%= link_to "Help",   help_path %></li>
              <!--<li><%= link_to "Sign in",  signin_path %> </li> -->
              <!--<button type ="button" class="btn btn-default navbar-btn">Sign in</button> -->
             <li role="presentation" class="active"><%= link_to "About", 	about_path %></li> 
             <% if signed_in? %>
                <li role="presentation" class="active"><%= link_to "Users" , '#' %></li>
                <li class="dropdown active" style="color:#050505;">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", user_path(current_user) %></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", signout_path, method: "delete"  %>
                    </li>
                  </ul>
                </li>
                <% else %>
                  <li><% link_to "Sign in", signin_path %></li>
		<% end %> 
            </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- jquery code for nav bar problems -->
  <script>
    $(window).scroll(
    {
        previousTop: 0
    }, 
    function () {
    var currentTop = $(window).scrollTop();
    if (currentTop < this.previousTop) {
        $(".sidebar em").text("Up");
        $(".header").show();
    } else {
        $(".sidebar em").text("Down");
        $(".header").hide();
    }
    this.previousTop = currentTop;
});
  </script>
  <script>
      $('.dropdown-toggle').dropdown();
    </script>
   
